[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = http://git.code.sf.net/p/vim-latex/vim-latex
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git@github.com:vim-scripts/matchit.zip.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = git@github.com:lunaru/vim-twig.git
